/* Classes interactions */

.hover{
  z-index: 15;
  filter: drop-shadow(4px 4px 8px rgba(255,255,255,0.7)) drop-shadow(4px -4px 8px rgba(255,255,255,0.7)) drop-shadow(-4px 4px 8px rgba(255,255,255,0.7)) drop-shadow(-4px -4px 8px rgba(255,255,255,0.7));
}

.hover2{
  filter: drop-shadow(1px 1px 1px rgba(255,255,255,0.3)) drop-shadow(1px -1px 1px rgba(255,255,255,0.3)) drop-shadow(-1px 1px 1px rgba(255,255,255,0.3)) drop-shadow(-1px -1px 1px rgba(255,255,255,0.3));
  }

.hidden{
  visibility: hidden;
  position: absolute;
}

/* Containers et images */

#fond {
  border-bottom: 2px solid #1a1a1a;
  border-left: 2px solid #1a1a1a;
  border-right: 2px solid #1a1a1a;
}

#navbar{
  background-color: #53ffe0;
  width: 100%;
  height: 11%;
  border-bottom: 3px solid #1a1a1a;
  align-items: center;
  display: inline-flex;
}

#topleftkuikui{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 14vw;
}

#navtitles{
  align-items: center;
  display: inline-flex;
  margin-left: 5.45vw;
}

#navicons{
  margin-left: 15vw;
}

#navicons > a > img {
  margin-top: -0.75vw;
  margin-left: 0.90vw;
  width: 1.35vw;
  height: auto;
  filter: opacity(75%);
}

#focus {
  height: 100%;
}

#imgfocus{
  max-height: 100vh;
  padding-left: 2.5vw;
  background-image: url("media/fonds/fondimgfc.png");
  background-repeat: repeat;
}

#imgfocus > img {
display: block;
position: absolute;
margin: auto;
top: 0;
bottom: 0;
left: 0;
right: 0;
max-width: 40vw;
max-height: 80vh;
}

#txtfocus{
  background-image: url("media/fonds/fondtxtfc.png");
  background-repeat: repeat-y;
  background-size: contain;
  background-color: #f0f3f5;
  overflow-y: scroll;
  overflow-x: hidden;
  height: inherit;
  padding-left: 3%;
}

#txtfocus > div > div {
  margin-top: 2.5vw;
  width: 100%;
}

#txtfocus > div > div > div > a > img {
  width: 87.5%;
  height: auto;
  border-radius: 2.5vw;
  box-shadow: rgba(0,0,0,0.25) 0 3px 11px 0;
  -moz-box-shadow: rgba(0,0,0,0.25) 0 3px 11px 0;
  -webkit-box-shadow: rgba(0,0,0,0.25) 0 3px 11px 0;
}

.socialHub > a > img {
  margin: 0.25vw 0.75vw 0.25vw 0;
  width: 2vw;
  height: auto;
}

#back{
  margin: 0 !important;
  padding-top: 2.5vw;
  width: 10%;
  height: auto;
  position: relative !important;
}

.col-3,.col-9{
    padding-right: 0.5vw !important;
    padding-left: 0.5vw !important;
}

.test{
  position: relative;
  width: 100%;
  padding-right: 15px;
}

body{
  background-color:  #022d4c !important;
}

/* Textes */

#title{
  text-align: center;
}

#numerobis{
  padding-top: 7.5vh;
}

.col-9{
  padding-top: 0.75vw;
}

h1, h2, h5, h6, p{
  font-family: "Quicksand";
}

h1 {
  color: #022d4c;
  padding-top: 1.5vw;
  margin-bottom: 0.25vw;
  font-weight: 1000 !important;
  font-size: 3vw !important;
}

h2 {
  color: #000000;
  font-weight: bolder !important;
  margin-bottom: 0.25vw !important;
  margin-left: 0.5vw !important;
  font-size: 1.75vw !important;
  text-decoration: none;
}

h5 {
  color: white;
  font-weight: bolder !important;
  margin-bottom: 0.25vw !important;
  margin-left: 0.5vw !important;
  font-size: 1.75vw !important;
}

h6{
  color: #77b5fe;
  font-weight: bolder !important;
  font-size: 2.5vw !important;
}

#kuikui{
  font-size: 1.95vw !important;
}

#petit{
  font-weight: normal !important;
  font-size: 0.95vw !important;
}

.navtitle {
  font-size: 1.15vw !important;
}

p {
  color: #5c5656;
  font-size: 1.25vw !important;
  font-weight: bold !important;
  margin-bottom: 0.5vw !important;
  margin-left: 0.5vw !important;
}

@media all and (orientation:portrait) {

    #navbar{
      visibility: hidden;
      height: 0vh;
    }

    html, body {
      max-width: 100%;
      overflow-x: hidden;
    }

    #fond {
      border-top: 2px solid #1a1a1a;
    }

    #map img{
    width: 210vw;
    height: auto;
    margin-left: -22%;
    margin-top: 15vh;
    }

    #imgfocus > img {
      max-width: 90vw;
      max-height: 80%;
    }

    #imgfocus{
      height: 60vh;
      padding-bottom: 2.5vh;
    }

    #txtfocus{
      padding-left: 5%;
      min-height: 100vh;
    }

    .erdre {
        height: 85vh !important;
    }

    h1 {
      font-size: 6vw !important;
    }

    h2 {
      font-size: 3.5vw !important;
      padding-top: 1.5vw !important;
      margin-bottom: 1vw !important;
    }

    p {
      font-size: 2.5vw !important;
    }

    #txtfocus > div > div > div > a > img {
      border-radius: 5vw;
    }

    .socialHub > a > img {
      margin: 0.5vw 1.5vw 0.5vw 0;
      width: 4vw;
      height: auto;
    }
}

@media all and (orientation:landscape) {

  body{
    overflow: hidden;
  }

  #map img{
    max-width: 96.5vw;
    max-height: 89vh;
    margin-left: 6.9vw;
  }

  .test{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }


}





/* clip--path quartiers et css img cliquables */

#cloud{
  -webkit-clip-path: polygon(26% 46%, 26% 41%, 27% 38%, 28% 34%, 32% 31%, 34% 33%, 36% 35%, 38% 37%, 38% 42%, 36% 46%, 34% 49%, 32% 49%, 28% 49%);
}

#centre{
  -webkit-clip-path: url("#clipCentre");
  clip-path: url("#clipCentre");
  /*
  -webkit-clip-path: polygon(47.305%	64.782%	,
47.110%	63.988%	,
45.847%	65.278%	,
45.119%	66.964%	,
44.876%	66.270%	,
42.351%	69.246%	,
41.962%	69.940%	,
42.933%	72.321%	,
43.371%	75.893%	,
44.828%	74.702%	,
46.770%	75.298%	,
47.693%	75.893%	,
49.150%	75.794%	,
50.510%	74.107%	,
51.676%	72.817%	,
50.413%	69.643%	,
49.684%	68.452%	,
48.324%	63.690%
);  */

}

#bellevue{

    -webkit-clip-path: url("#clipBellevue");
    clip-path: url("#clipBellevue");
    /*
  -webkit-clip-path: polygon(22.292%	90.278%	,
23.749%	89.782%	,
24.186%	90.079%	,
24.769%	89.782%	,
26.226%	89.087%	,
27.538%	89.187%	,
28.120%	88.889%	,
28.752%	87.698%	,
29.140%	85.218%	,
29.043%	83.829%	,
29.335%	81.845%	,
30.015%	79.266%	,
30.112%	78.274%	,
31.666%	72.917%	,
32.054%	73.512%	,
33.414%	74.008%	,
35.308%	74.504%	,
36.425%	74.008%	,
37.251%	74.206%	,
38.465%	75.298%	,
40.262%	76.687%	,
41.282%	76.984%	,
42.205%	76.290%	,
42.254%	76.984%	,
41.525%	79.167%	,
41.428%	81.151%	,
41.039%	81.944%	,
39.728%	84.226%	,
37.105%	87.103%	,
36.183%	87.798%	,
36.134%	89.187%	,
36.085%	91.171%	,
35.454%	93.254%	,
34.094%	95.040%	,
32.540%	96.230%	,
30.500%	96.329%	,
29.237%	95.734%	,
27.052%	93.849%	,
25.692%	92.758%	,
24.526%	91.865%	,
23.507%	91.667%	,
22.729%	91.171%	,
22.438%	90.377%
); */
}

#zola{

    -webkit-clip-path: url("#clipZola");
    clip-path: url("#clipZola");
    /*
  -webkit-clip-path: polygon(
35.697%	59.325%	,
36.863%	59.425%	,
39.582%	63.492%	,
41.768%	67.460%	,
42.448%	70.238%	,
43.128%	71.825%	,
43.662%	75.397%	,
42.351%	76.885%	,
40.408%	77.083%	,
38.611%	75.893%	,
37.057%	74.405%	,
34.823%	74.702%	,
32.443%	73.909%	,
31.472%	73.413%	,
32.054%	71.230%	,
32.977%	68.155%	,
33.269%	65.972%	,
33.414%	62.996%	,
33.366%	61.706%	,
34.920%	58.234%);
  /*/
}

#felix{

    -webkit-clip-path: url("#clipFelix");
    clip-path: url("#clipFelix");
    /*/
  -webkit-clip-path: polygon(
    48.810%	45.833%	,
  47.499%	45.833%	,
  46.576%	46.528%	,
  46.527%	47.619%	,
  45.410%	48.611%	,
  44.585%	51.091%	,
  44.682%	53.472%	,
  44.051%	54.266%	,
  42.205%	57.341%	,
  39.582%	58.829%	,
  39.000%	60.417%	,
  38.854%	61.508%	,
  38.611%	62.897%	,
  39.437%	63.889%	,
  41.719%	68.353%	,
  42.108%	70.238%	,
  43.322%	68.849%	,
  44.779%	67.163%	,
  45.070%	67.758%	,
  46.139%	65.774%	,
  47.062%	64.980%	,
  47.305%	65.675%	,
  48.324%	63.988%	,
  48.033%	63.393%	,
  47.984%	62.897%	,
  47.742%	59.425%	,
  47.596%	59.226%	,
  49.053%	55.556%	,
  49.053%	53.770%	,
  48.956%	52.579%	,
  48.664%	51.488%	,
  48.519%	50.000%	,
  49.393%	47.817%	,
  49.490%	46.627%);
/*/

}

#malakoff{

    -webkit-clip-path: url("#clipMalakoff");
    clip-path: url("#clipMalakoff");
  /*/
  -webkit-clip-path: polygon(
    49.441%	52.579%	,
  48.956%	52.877%	,
  49.150%	54.464%	,
  49.296%	54.861%	,
  49.004%	56.349%	,
  48.276%	57.341%	,
  47.936%	58.433%	,
  47.596%	59.226%	,
  47.450%	59.921%	,
  47.790%	63.988%	,
  48.179%	64.484%	,
  49.441%	69.147%	,
  49.927%	69.643%	,
  50.413%	69.643%	,
  51.433%	72.321%	,
  51.967%	72.817%	,
  52.890%	71.925%	,
  53.813%	71.825%	,
  55.027%	71.429%	,
  58.038%	68.452%	,
  58.524%	67.659%	,
  58.232%	64.683%	,
  57.552%	62.500%	,
  56.484%	60.417%	,
  56.047%	59.325%	,
  53.813%	54.365%	,
  52.890%	53.571%	,
  49.296%	52.480%);

/*/
}

#ile{

    -webkit-clip-path: url("#clipIle");
    clip-path: url("#clipIle");
/*/
  -webkit-clip-path: polygon(
    58.864%	68.750%	,
  57.892%	70.238%	,
  56.241%	71.230%	,
  55.852%	71.825%	,
  51.918%	73.313%	,
  48.664%	76.290%	,
  47.353%	75.893%	,
  45.605%	75.198%	,
  44.633%	75.198%	,
  42.691%	77.579%	,
  42.691%	78.373%	,
  42.496%	78.869%	,
  41.476%	82.738%	,
  41.476%	83.532%	,
  44.390%	83.829%	,
  48.956%	83.631%	,
  50.996%	82.341%	,
  53.861%	79.067%	,
  55.998%	76.091%	,
  57.746%	72.123%	,
  58.378%	71.627%	,
  58.378%	70.734%	,
  58.912%	69.643%	,
  59.106%	69.345%);

/*/
}

#breil{

    -webkit-clip-path: url("#clipBreil");
    clip-path: url("#clipBreil");
/*/
  -webkit-clip-path: polygon(
    36.765%	60.020%	,
  35.551%	59.722%	,
  34.823%	58.730%	,
  34.823%	57.837%	,
  36.328%	55.754%	,
  37.348%	53.770%	,
  37.882%	54.563%	,
  38.708%	53.075%	,
  38.320%	52.877%	,
  38.271%	50.992%	,
  37.251%	49.802%	,
  37.251%	49.405%	,
  37.494%	48.313%	,
  38.465%	45.833%	,
  39.194%	44.940%	,
  39.922%	44.643%	,
  40.797%	42.857%	,
  42.205%	44.048%	,
  42.836%	43.948%	,
  43.322%	45.139%	,
  44.099%	45.437%	,
  44.925%	45.139%	,
  45.605%	46.131%	,
  46.770%	46.429%	,
  46.770%	48.016%	,
  45.750%	49.008%	,
  44.925%	51.389%	,
  44.925%	53.869%	,
  44.293%	54.563%	,
  42.254%	57.837%	,
  39.777%	59.325%	,
  39.339%	60.417%	,
  38.805%	62.996%);
/*/
}

#nord{

    -webkit-clip-path: url("#clipNord");
    clip-path: url("#clipNord");
  /*/

  -webkit-clip-path: polygon(
    36.183%	20.536%	,
    36.280%	20.635%	,
    38.028%	27.579%	,
    39.000%	30.258%	,
    40.894%	37.103%	,
    40.457%	42.659%	,
    40.748%	43.651%	,
    42.254%	45.040%	,
    42.691%	44.940%	,
    42.933%	45.833%	,
    44.148%	46.032%	,
    44.876%	45.833%	,
    45.313%	46.825%	,
    46.770%	47.123%	,
    47.790%	46.528%	,
    48.567%	46.627%	,
    48.907%	46.925%	,
    49.296%	46.825%	,
    49.781%	45.635%	,
    49.781%	45.139%	,
    49.927%	43.849%	,
    50.121%	43.353%	,
    51.384%	38.988%	,
    51.724%	35.516%	,
    49.733%	34.425%	,
    48.713%	34.226%	,
    48.519%	33.433%	,
    47.450%	30.456%	,
    47.353%	27.778%	,
    46.722%	27.282%	,
    46.382%	26.687%	,
    46.576%	23.710%	,
    45.993%	22.619%	,
    44.828%	23.016%	,
    43.711%	21.329%	,
    42.885%	21.032%	,
    40.991%	21.032%	,
    39.971%	20.139%	,
    38.951%	20.337%	,
    38.222%	18.750%	,
    37.057%	18.750%	,
    36.134%	20.238%);
/*/
}

#erdre{

  -webkit-clip-path: url("#clipErdre");
  clip-path: url("#clipErdre");
  /*/
  -webkit-clip-path: polygon(
    55.270%	1.786%	,
  53.910%	3.274%	,
  54.007%	5.456%	,
  54.590%	6.448%	,
  55.707%	12.302%	,
  55.221%	17.063%	,
  54.395%	19.841%	,
  53.521%	22.024%	,
  53.618%	22.718%	,
  52.307%	25.595%	,
  52.356%	26.786%	,
  52.550%	27.282%	,
  52.307%	29.266%	,
  52.404%	30.456%	,
  52.841%	30.754%	,
  52.938%	32.540%	,
  52.695%	33.036%	,
  52.064%	33.730%	,
  51.676%	36.409%	,
  51.870%	37.500%	,
  50.753%	42.163%	,
  50.267%	42.361%	,
  50.219%	43.353%	,
  49.441%	48.313%	,
  48.567%	50.496%	,
  48.567%	51.587%	,
  48.907%	52.778%	,
  52.695%	54.266%	,
  54.250%	48.611%	,
  55.804%	44.048%	,
  57.941%	38.591%	,
  59.203%	36.409%	,
  60.952%	34.127%	,
  60.952%	30.456%	,
  60.563%	30.258%	,
  60.661%	29.266%	,
  62.020%	26.190%	,
  63.137%	21.329%	,
  63.040%	21.032%	,
  61.583%	19.048%	,
  60.175%	18.750%	,
  60.223%	18.353%	,
  60.223%	15.873%	,
  60.466%	14.683%	,
  59.883%	12.599%	,
  59.883%	11.905%	,
  60.321%	10.317%	,
  60.612%	8.829%	,
  60.612%	3.373%	,
  60.175%	1.885%	,
  59.252%	2.778%	,
  58.281%	1.389%	,
  57.407%	1.488%	,
  56.727%	2.679%	,
  55.075%	1.885%);
/*/
}

#doulon{

    -webkit-clip-path: url("#clipDoulon");
    clip-path: url("#clipDoulon");
/*/
  -webkit-clip-path: polygon(
    62.797%	31.250%	,
    61.049%	33.036%	,
    59.009%	35.913%	,
    57.892%	37.996%	,
    55.270%	44.643%	,
    53.667%	49.008%	,
    52.550%	53.869%	,
    53.424%	54.762%	,
    55.318%	58.730%	,
    57.164%	62.500%	,
    58.038%	64.980%	,
    58.378%	67.758%	,
    59.835%	66.369%	,
    61.049%	65.972%	,
    61.632%	65.377%	,
    63.720%	63.889%	,
    64.109%	63.790%	,
    67.169%	60.714%	,
    68.480%	57.837%	,
    66.877%	53.274%	,
    66.877%	50.595%	,
    67.169%	49.802%	,
    66.926%	49.008%	,
    66.877%	45.040%	,
    66.051%	44.147%	,
    65.517%	42.659%	,
    64.740%	39.980%	,
    64.449%	39.583%	,
    63.817%	36.508%	,
    64.060%	34.127%	,
    64.692%	34.127%	,
    64.594%	30.556%	,
    64.206%	29.464%);
/*/
}

#sud{

    -webkit-clip-path: url("#clipSud");
    clip-path: url("#clipSud");
  /*/
  -webkit-clip-path: polygon(
    57.649%	91.270%	,
  57.018%	90.575%	,
  56.921%	89.286%	,
  55.707%	89.385%	,
  55.755%	87.202%	,
  56.047%	85.615%	,
  54.784%	85.615%	,
  54.104%	85.119%	,
  54.784%	83.829%	,
  54.832%	83.433%	,
  55.464%	82.440%	,
  54.492%	79.960%	,
  54.104%	80.853%	,
  52.598%	82.639%	,
  51.384%	83.333%	,
  50.219%	84.623%	,
  48.567%	84.921%	,
  48.664%	87.103%	,
  49.150%	88.294%	,
  49.684%	87.798%	,
  50.267%	87.202%	,
  50.704%	88.294%	,
  51.627%	89.782%	,
  52.550%	92.163%	,
  52.695%	94.246%	,
  53.667%	97.222%	,
  55.755%	98.611%	,
  57.698%	99.306%	,
  58.621%	97.817%	,
  59.252%	95.734%	,
  59.738%	94.742%	,
  60.126%	93.056%	,
  60.175%	91.369%);
/*/

}

div.img{
  pointer-events: none;
  width: auto;
  height: auto;
  position: absolute;
}

img{
  pointer-events: all;
}
